.errorBanner {
  padding: 8px 16px;
  background: var(--undpds-color-red-200);
  color: var(--undpds-color-black);
  font-size: 0.8125rem;
}

.warningBanner {
  padding: 8px 16px;
  background: var(--undpds-color-yellow-200);
  color: var(--undpds-color-black);
  font-size: 0.8125rem;
}
